* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 69.5%;
}

body {
  background-image: url(/images/Background\ Image.png);
  background-repeat: none;
  background-size: cover;
}

header .HeaderContainer {
  max-width: 68.8rem;
  padding: 4rem 1.6rem 0rem 1.6rem;
  margin: 0 auto;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 50px;
  }
}
.aside {
  width: 156px;
  height: 228px;
  background: #fff;
  position: absolute;
  animation: mymove 5s;
  animation-fill-mode: both;
}

.Menu_center {
  display: none;
}

.Menu_left {
  display: none;
}

.udalet {
  display: none;
}

.Navbar_Top {
  display: none;
}

.overflo {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.4509803922);
  z-index: 3;
  backdrop-filter: blur(4px);
}

.belgi {
  display: none;
  z-index: 10;
  position: absolute;
  background-image: url(/images/Credit.png);
  background-repeat: none;
  background-size: cover;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  text-align: center;
  padding: 2rem;
}
.belgi .download_x {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  font-size: 2.4rem;
  background: none;
  border: none;
  color: #FFF;
}
.belgi .modal h1 {
  color: var(--White, #FFF);
  font-size: 48px;
  font-weight: 700;
  line-height: 123.6%;
  text-transform: capitalize;
}
.belgi .modal .button_downloud {
  margin-top: 6.2rem;
  width: 238px;
  height: 75px;
  border-radius: 10px;
  background: var(--White, #FFF);
}
.belgi .modal .button_downloud .btn {
  color: #1D98FF;
  text-decoration: none;
  font-size: 2.5rem;
}
.belgi .modal p {
  margin-top: 6.2rem;
  color: var(--White, #FFF);
  text-align: center;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.6%; /* 33.4px */
}
.belgi .modal a {
  margin-top: 6.2rem;
  color: var(--primary-color-ffffff, #FFF);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 600;
  line-height: 133.6%;
  text-decoration-line: underline;
}

.aside {
  display: none;
  position: absolute;
  width: 20rem;
  height: auto;
  border-radius: 10px;
  background: var(--White, #FFF);
  padding: 2rem 2rem 2rem 2rem;
  top: 13rem;
  z-index: 100;
}
.aside ul {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.aside ul .claen {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  font-size: 2rem;
}
.aside ul li a {
  color: var(--Black, #232233);
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}

nav .Navbar_bottom {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 68.8rem;
  height: 6rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #FFF;
  /* Effect-1 */
  box-shadow: 0rem 0.1rem 1rem 0rem rgba(0, 0, 0, 0.1);
}
nav .Navbar_bottom .bars {
  font-size: 2rem;
}
nav .Menu_left ul {
  display: flex;
  column-gap: 3.8rem;
  color: var(--Black, #232233);
  /* H6-20px */
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  text-transform: uppercase;
}
nav .Menu_center {
  display: none;
  padding: 3.1rem 1.7rem;
  width: 20rem;
  margin: 0 auto;
  border-radius: 5px;
  background: #FFF;
  /* Effect-1 */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
nav .Menu_right {
  color: #232233;
  /* H6-20px */
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  text-transform: uppercase;
}
nav .Menu_right ul {
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
nav .Menu_right .downloud {
  max-width: 15.8rem;
  display: flex;
  color: #FFF;
  /* H6-20px */
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  text-transform: uppercase;
  padding: 1.2rem 1.6rem 1.2rem 1.5rem;
  border-radius: 0.5rem;
  background: #5956E9;
  border: none;
}

main {
  width: 90%;
  margin: 0 auto;
}
main .mainContainer {
  margin-top: 9.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.Main_text {
  max-width: 100%;
  margin: 0 auto;
  border: 10px solid #7572FF;
}
.Main_text .start_text {
  text-align: start;
  max-width: 45rem;
  background: #FFF;
  padding: 3rem 1.2rem 2.1rem 1.8rem;
  z-index: 1;
  margin: 1rem 1.5rem 1.5rem -2rem;
}
.Main_text .start_text h1 {
  max-width: 40rem;
  color: var(--Royal-blue, #5956E9);
  /* H5-25px */
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.75rem;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}
.Main_text .start_text h2 {
  max-width: 30rem;
  color: #6C6C72;
  /* H7-16px (Paragraph Text) */
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.Main_text .start_text h3 {
  margin-top: 1rem;
  color: #232233;
  /* H6-20px */
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  text-transform: uppercase;
}
.Main_text .start_text ul {
  margin-top: 1.8rem;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  list-style: none;
}

@media screen and (min-width: 445px) {
  header .HeaderContainer {
    max-width: 68.8rem;
    padding: 4rem 1.6rem 0rem 1.6rem;
    margin: 0 auto;
  }
  nav .Navbar_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 68.8rem;
    height: 6rem;
  }
  nav .Navbar_bottom .bars {
    font-size: 2rem;
  }
  nav .Menu_left ul {
    display: flex;
    column-gap: 3.8rem;
  }
  nav .Menu_center {
    display: block;
    padding: 3.1rem 1.7rem;
    max-width: 20rem;
    margin: 0 auto;
  }
  nav .Menu_right ul {
    display: flex;
    column-gap: 3rem;
  }
  nav .Menu_right .downloud {
    max-width: 15.8rem;
    display: flex;
    padding: 1.2rem 1.6rem 1.2rem 1.5rem;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  main .mainContainer {
    margin-top: 9.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }
  .Main_text {
    max-width: 100%;
    margin: 0 auto;
  }
  .Main_text .start_text {
    text-align: start;
    max-width: 45rem;
    padding: 3rem 1.2rem 2.1rem 1.8rem;
    z-index: 1;
    margin: 1rem 1.5rem 1.5rem -2rem;
  }
  .Main_text .start_text h1 {
    max-width: 40rem;
    color: var(--Royal-blue, #5956E9);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.75rem;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
  }
  .Main_text .start_text h2 {
    max-width: 30rem;
    color: #6C6C72;
    /* H7-16px (Paragraph Text) */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }
  .Main_text .start_text h3 {
    margin-top: 1rem;
    color: #232233;
    /* H6-20px */
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
  }
  .Main_text .start_text ul {
    margin-top: 1.8rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    list-style: none;
  }
}
@media screen and (min-width: 750px) {
  .belgi {
    display: none;
  }
  nav .Navbar_Top {
    display: block;
  }
  nav .Navbar_bottom .Menu_center {
    display: block;
  }
  nav .Navbar_bottom .Menu_left {
    display: block;
  }
  header {
    margin-bottom: 22rem;
  }
  header .HeaderContainer {
    max-width: 95%;
    padding: 4rem 1.6rem 0rem 1.6rem;
    margin: 0 auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
  nav .Navbar_Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .Navbar_Top .Navbar_top_left {
    display: flex;
    column-gap: 4rem;
    align-items: center;
  }
  nav .Navbar_Top .Navbar_top_left ul {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    font-size: 1.6rem;
  }
  nav .Navbar_Top .Navbar_top_left ul li a {
    color: #FFF;
  }
  nav .Navbar_Top .Navbar_Top_Right ul {
    display: flex;
    column-gap: 4rem;
    align-items: center;
    font-size: 2.5rem;
  }
  nav .Navbar_Top .Navbar_Top_Right ul li a {
    color: #FFF;
  }
  nav .Navbar_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 6rem;
  }
  nav .Navbar_bottom .bars {
    font-size: 2rem;
  }
  nav .Menu_left ul {
    display: flex;
    column-gap: 3.8rem;
  }
  nav .Menu_center {
    display: block;
    padding: 3.1rem 1.7rem;
    max-width: 20rem;
    margin: 0 auto;
  }
  nav .Menu_right ul {
    display: flex;
    column-gap: 3rem;
  }
  nav .Menu_right .downloud {
    max-width: 15.8rem;
    display: flex;
    padding: 1.2rem 1.6rem 1.2rem 1.5rem;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  main .mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 60rem;
    column-gap: 4rem;
    align-items: center;
    margin: 0 auto;
  }
  .Main_text {
    width: 42rem;
    margin: 0 auto;
  }
  .Main_text .start_text {
    text-align: start;
    max-width: 42rem;
    padding: 3rem 1.2rem 2.1rem 1.8rem;
    margin: 1rem 1.5rem 1.5rem -2rem;
  }
  .Main_text .start_text h1 {
    max-width: 40rem;
    color: var(--Royal-blue, #5956E9);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.75rem;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
  }
  .Main_text .start_text h2 {
    max-width: 40rem;
    color: #6C6C72;
    /* H7-16px (Paragraph Text) */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }
  .Main_text .start_text h3 {
    margin-top: 1rem;
    color: #232233;
    /* H6-20px */
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
  }
  .Main_text .start_text ul {
    margin-top: 1.8rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    list-style: none;
  }
}
@media screen and (min-width: 1160px) {
  .Menu_center {
    display: block;
  }
  .Menu_left {
    display: block;
  }
  .udalet {
    display: block;
  }
  .udalet a {
    color: var(--Black, #232233);
    /* H6-20px */
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  .udalet:hover {
    color: var(--Royal-blue, #5956E9);
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
  .Navbar_Top {
    display: block;
  }
  .belgi {
    display: none;
  }
  .aside {
    display: none;
  }
  nav .Navbar_Top {
    display: block;
  }
  nav .Navbar_bottom {
    display: block;
  }
  nav .Navbar_bottom .Menu_center {
    display: block;
  }
  nav .Navbar_bottom .Menu_left {
    display: block;
  }
  header {
    margin-bottom: 6.7rem;
  }
  header .HeaderContainer {
    max-width: 95%;
    padding: 4rem 1.6rem 0rem 1.6rem;
    margin: 0 auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
  nav .Navbar_Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .Navbar_Top .Navbar_top_left {
    display: flex;
    column-gap: 4rem;
    align-items: center;
  }
  nav .Navbar_Top .Navbar_top_left ul {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    font-size: 1.6rem;
  }
  nav .Navbar_Top .Navbar_top_left ul li a {
    color: #FFF;
  }
  nav .Navbar_Top .Navbar_Top_Right ul {
    display: flex;
    column-gap: 5rem;
    align-items: center;
    font-size: 2.5rem;
  }
  nav .Navbar_Top .Navbar_Top_Right ul li a {
    color: #FFF;
  }
  nav #Navbar_bottom {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 6rem;
  }
  nav #Navbar_bottom .bars {
    font-size: 2rem;
    display: none;
  }
  nav .Menu_left {
    display: block;
  }
  nav .Menu_left ul {
    display: flex;
    column-gap: 5rem;
  }
  nav .Menu_center {
    display: block;
    padding: 3.1rem 1.7rem;
    max-width: 20rem;
    margin: 0 auto;
  }
  nav .Menu_right ul {
    display: flex;
    column-gap: 5rem;
  }
  nav .Menu_right .downloud {
    max-width: 15.8rem;
    display: flex;
    padding: 1.2rem 1.6rem 1.2rem 1.5rem;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  main .mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 97rem;
    column-gap: 28rem;
    align-items: center;
    margin: 0 auto;
  }
  .Main_text {
    width: 42rem;
    margin: 0 auto;
  }
  .Main_text .start_text {
    text-align: start;
    max-width: 42rem;
    padding: 3rem 1.2rem 2.1rem 1.8rem;
    margin: 1rem 1.5rem 1.5rem -2rem;
  }
  .Main_text .start_text h1 {
    max-width: 40rem;
    color: var(--Royal-blue, #5956E9);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.75rem;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
  }
  .Main_text .start_text h2 {
    max-width: 40rem;
    color: #6C6C72;
    /* H7-16px (Paragraph Text) */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }
  .Main_text .start_text h3 {
    margin-top: 1rem;
    color: #232233;
    /* H6-20px */
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
  }
  .Main_text .start_text ul {
    margin-top: 1.8rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    list-style: none;
  }
}

/*# sourceMappingURL=style.css.map */
